<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cocktails For You</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display&family=Roboto&display=swap" 
    rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="styles/main.css" />
  </head>
  <body>
    <main>
      <% if (locals.data){ %>
      <div class="drink">
        <h1><%= data.drinks[0].strDrink %></h1>
        <h2>
          <%= data.drinks[0].strAlcoholic %> / <%= data.drinks[0].strGlass %>
        </h2>
        <img src= <%= data.drinks[0].strDrinkThumb+"/preview"%>>
      </div>

      <div class="ingredients">
        <% for (let i = 1;i <= 15; i++) { %> 
        <% const ingredient = data.drinks[0][`strIngredient${i}`]; %> 
        <% const measure = data.drinks[0][`strMeasure${i}`]; %> 
        <% if (ingredient) { %>

        <div class="ingredient">
          <img
            src="https://www.thecocktaildb.com/images/ingredients/<%= ingredient %>-Small.png"
            alt="<%= ingredient %>"
          />
          <li><%= measure %> <%= ingredient %></li>
        </div>
        <% } %> <% } %>
      </div>
      <div class="instructions">
        <p><%= data.drinks[0].strInstructions %></p>
      </div>
      <% } else {%>

      <h1>Pick a random Cocktail</h1>

      <% } %>

      <form method="POST" action="/randomCocktail">
        <button class="btn btn-primary" type="submit">Shake It!🍹</button>
      </form>
    </main>
    <footer>
      <% const currentDate = new Date(); const currentYear =
      currentDate.getFullYear();%> Dimitris Papazafeiris © <%= currentYear %>
    </footer>
  </body>
</html>
